<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.apolloreads" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Simple Sign</name>
    <description>
        A MkDocs project to help you build a portfolio of your progress towards becoming an IT, IS, or CS professional.
    </description>
    <author email="viable.hartman@gmail.com" href="">
	Apollo Hartman
    </author>
    <content src="index.html" />
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="qrc:*" />
    <!-- <hook type="before_build" src="hook_scripts/copy_build_files.js" /> -->
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>